# Environment variables
.env


# Python
*.py[cod]
__pycache__/
*.so
.Python


# Virtual Environment
.venv/
venv/


# IDE specific files
.idea/
.vscode/


# Operating System
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3




# Streamlit
.streamlit/

# Distribution/packaging
.Python
